<define>

/* Define Variable */
@inc{css/inc}
@class_name {test}
@radius{10px}
@radius_5{5px}

/* Define Function */
function pad(@top, @right, @bottom, @left) {
	padding: @top @right @bottom @left;
}

function round(@radius) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

</define>




include > @inc!.css;


.@class_name! {
	display:none;
}

.styled_thing {
	@pad(10px, 9px, 8px, 7px);
	@round(@radius_5!);
	border:@radius!;
}